/* PRINCIPALE */


html{
  margin: 0;
  padding: 0;
}

body{
  background-image: url(https://c.pxhere.com/photos/b9/10/botany_desktop_backgrounds_desktop_wallpaper_flora_floral_flower_wallpaper_flowers_garden-933958.jpg!d);
  background-size: cover;
  }
  
/* HEADER */


header{
background-image: url("https://www.mnhn.fr/sites/mnhn.fr/files/styles/bandeau_home/public/thumbnails/image/botanique_1440x850.jpg?itok=_ehkI1kB");
background-size: 100%;
margin left: -7%;
}

#header-ul{
font-family: cursive;
display: flex;
list-style: none;
}
.header-li{
margin-left: 10%;
font-size: 120%;
justify-content: space-around;
}

.header-a{
text-decoration: none;
color: black;
}

/* ACCUEIL */

.article1{
  display: block;
text-align: center;
padding: 3%;
 }

.article1 h2{
    animation: loop 10s infinite;
    font-family: cursive;
    color: yellow;
 }




@keyframes loop{
    0%{ transform: translateY(0px)
    }

    33%{
        transform: translateY(-50px)
    }

    66%{
        transform: translateY(50px)

    }

    100%{
        transform: translateY(0px)
    }
}

.video{
width: 560px;
height: 315px;
}



/* PRESENTATION */

.article2{

display: block;
flex-direction: row;
padding: 3%;
}

.article2 h2 p {
  font-size: 6mm;
color: white;
font-family: Arial, Helvetica, sans-serif;
margin-left: 7mm;
}

.video2{
  width: 560px;
  height: 315px;
  
}

.cadrage{
  text-align: center;
  justify-content: space-between;
}

/* PLANTES */

.foto{
height:225px;
width: 460px;
}

#article3{
font-family: cursive;
color: white;
margin-top: 4%;
text-align: center;
}

#article3 h2{
font-family: cursive;
color: yellow;
}


/* LEGUMES */



#article4{
display:block;
flex-direction: row;
padding: 3%;

}

#article4 h2 {
color: white;
margin-left: 7mm;
}

#article4 h3{
  color: yellow;
  font-size: 140%;
  margin-left: 7mm;

}


.image1{
height: 220px;
width: 360px;
}


/* ARBUSTES */

#article5 li{
  font-family: cursive;
color: yellow;
}

#article5 ul{
  color: white;
  box-shadow: 10px 5px 5px white;
}


#article5 h3{
  color: white;

}


#article5{
  display: flex;
  padding: 3%;
 
}

.photo{
  height: 320px;
  width: 460px;
  position: relative;
  margin-left: 2%;
  }


/* FOOTER */


.footer1{
display: inline-flex;
flex-direction: row;
margin-left: 36%;
margin-right: 36%;
padding: 3%%;
}


.logo{
height: 60px;
width: 60px;
border-radius: 30%;
background-image: url(https://c.pxhere.com/photos/b9/10/botany_desktop_backgrounds_desktop_wallpaper_flora_floral_flower_wallpaper_flowers_garden-933958.jpg!d);
padding: 10px;
animation: rotation 3s linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0) translateX(0px);
  }
  25%{
    transform: rotate(300deg) translateX(20px);
  }
  50%{
    transform: rotate(320deg) translateX(0px);
  }